.sunny, .cloud, .rain{
    transition-duration: 200ms;
}
.day-weather:hover .sunny{
    fill: #fde047;
}
.day-weather:hover .cloud{
    fill: rgb(56 189 248);
}
.day-weather:hover .rain{
    fill: rgb(96 165 250);
}