.sunny, .cloud, .rain{
    transition-duration: 200ms;
}
.day-weather:hover .sunny, .day-weather:hover{
    fill: #fde047;
    color: #fde047;
}
.day-weather:hover .cloud, .day-weather:hover{
    fill: rgb(56 189 248);
    color: rgb(56 189 248);
}
.day-weather:hover .rain, .day-weather:hover{
    fill: rgb(96 165 250);
    color: rgb(96 165 250);
}